$mainColor: #0087ca;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1260px;

.main {
  padding: 50px;

  > span {
  }
  .form {
    .required {
    }

    .label {
      .input {
        &:focus {
        }
      }
    }
    > button {
    }
    > button:hover {
    }
  }
  @media (min-width: $breakpoint-tablet) {
    .form {
      width: min(80vw, 800px);
    }
  }
  @media (min-width: $breakpoint-desktop) {
  }
}
