@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.featured-paragraph-container {
  > :first-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  * {
    margin: 0.6rem 0rem;
  }
  > *:not(:first-child) {
    display: none;
  }
}
.published-paragraph-container {
  > :first-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  * {
    margin: 0;
  }
  > *:not(:first-child) {
    display: none;
  }
}
.published-suggestions-paragraph-container {
  > :first-child {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  * {
    margin: 0;
  }
  > *:not(:first-child) {
    display: none;
  }
}

@layer components {
  .form-button {
    @apply bg-slate-700 text-white border-none hover:bg-slate-800 rounded-sm p-3 text-2xl cursor-pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
