$headerFontFamily: 'Koulen', sans-serif;
$normalFontFamily: 'Roboto', serif;
$normalFontColor: rgb(18, 18, 18);
$normalFontColorHover: #5d0c89cd;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1260px;

.header {
  display: grid;
  grid-template-columns: 7fr max-content;
  grid-gap: 2rem;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 0 40px;

  h1 {
    font: 3rem $headerFontFamily;
    margin: 0;
  }

  nav {
    display: none;

    a {
      font: 1rem $normalFontFamily;
      color: $normalFontColor;
      position: relative;

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
    }

    .active::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(1);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0087ca;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  .header {
    .menuNavContainer {
      > span {
        display: none;
      }
      nav {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 2rem;

        a {
          font-size: 1.3rem;
        }
      }
    }
  }
}
@media (min-width: $breakpoint-desktop) {
  .header {
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    grid-gap: 300px;

    .menuNavContainer {
      justify-self: start;
    }
  }
}
