$mainColor: #0087ca;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1260px;

.main {
  > span {
  }
  .form {
    .label {
      .input {
        &:focus {
        }
      }
    }
    button {
      cursor: pointer;
    }
    button:hover {
      background-color: darken($mainColor, 10%);
    }
    a {
      color: $mainColor;
      text-decoration: none;

      &:hover {
        color: darken($mainColor, 30%);
      }
    }
  }
  @media (min-width: $breakpoint-tablet) {
    .form {
      .label {
      }
      button {
      }
    }
  }
  @media (min-width: $breakpoint-desktop) {
    .form {
      .label {
      }
      button {
      }
    }
  }
}
